/* CSS Var */
:root {
  --text-main: #10cab7;
  --bg-main: #f6f6f6;
  --bg-white: #fff;
  --bg-secondary: #2c4755;
  --main-padding: 60px;
}
/* CSS Var */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-white);
  font-family: "Work Sans";
}

/* start container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* extra small */
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end container */
